body{
    background-color: #222222;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 1.5em;
    font-weight: 500;
    /* text-transform: uppercase; */
    margin: 0;
    padding: 5px 0px 5px 20px;
    color: #E63946;
    color: #F1FAEE;
    background-color: #1D3557;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    height: 5vh;
    background-color: #A8DADC;
    line-height: 5vh;
}

li:nth-child(2n){
    background-color: #F1FAEE;;
}

input{
    width: 100%;
    height: 5vh;
    font-size: 1.1em;
    padding: 5px 0px 5px 33px;
    outline: none;
    box-sizing: border-box;
}

#container{
    background-color: #A8DADC;
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    /* desktop version */
    max-width: 400px;
    max-height: 500px;
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
    border: solid 3px #1D3557;
}

.done{
    color: #3b3a3a;
    text-decoration: line-through;
}

.del{
    color: red;
    margin: 10px;
}